<div  class ="container search"
      fxLayout ="column"
      fxLayoutAlign="space-between center"
      fxLayoutGap="10px"
      style="text-align:center">
  <div class="item item-1" fxFlex="50%">
    <h1>
     How do people feel about...
    </h1>
  </div>
  <div class="item item-2" fxFlexLayout="row" fxFill>
    <!--Remember to addToBody()-->
    <input #box name="search" type="text" placeholder="{{stuff}}" (keyup.enter)="searchTweet(box.value)">
    <div>
      <!--<img src="/assets/Images/Wow.gif">-->
    </div>
  </div>
  <div class="item item-2 tweetblock" fxFlexLayout="row" fxLayoutAlign="start center" *ngFor="let tweet of tweets" id="tweetboxes">
    <div class="item item-3 tweetlogo">
      <img src="/assets/Images/twitter.png">
    </div>
    <div class="item item-3 tweettext">
      <a href="http://twitter.com/{{tweet.name}}">{{tweet.name}}</a>
      <p>{{tweet.text}}</p>
    </div>
    <div class="item item-3 tweetscore">
      <div class="circle"></div>
    </div>
  </div>
</div>
