h1{
  color: white;
  font-family: 'Barlow Semi Condensed';
  font-size: 3.7em;
}

input[type=text]:focus,input[type=text]:hover{
  outline: none;
  width: 300px;
  height: 60px;
}
@media only screen and (min-width: 768px){
    input[type=text]{
      width: 400px;
      height: 50px;
      white-space: nowrap;
      border: none;
      font-size: 1.7em;
      font-family: "Roboto";
      font-style: oblique;
      padding-left: 50px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      -webkit-transition: width 0.3s, height 0.2s ease-in;
    }

    input[type=text]:focus,input[type=text]:hover{
      outline: none;
      width: 550px;
      height: 60px;
    }
}
