<div  class ="container search"
      fxLayout ="column"
      fxLayoutAlign="space-between center"
      fxLayoutGap="10px"
      style="text-align:center">
  <div class="item item-1" fxFlex="50%">
    <h1>
     How do people feel about...
    </h1>
  </div>
  <div class="item item-2" fxFlexLayout="row" fxFill>
    <!--Remember to addToBody()-->
    <input #box name="search" type="text" placeholder="{{stuff}}" (keyup.enter)="searchTweet(box.value)">
  </div>
  <div class="item item-2 tweetblock" fxFlexLayout="row" fxLayoutAlign="start center" *ngFor="let tweet of tweets" id="tweetboxes">
    <div class="item item-3 tweetlogo">
    </div>
    <div class="item item-3 tweettext">
      {{tweet.text}}
    </div>
  </div>
</div>
