<div  class ="container search"
      fxLayout ="column"
      fxLayoutAlign="space-between center"
      fxLayoutGap="10px"
      style="text-align:center">
  <div class="item item-1" fxFlex="50%">
    <h1>
     How do people feel about...
    </h1>
  </div>
  <div class="item item-2" fxFlexLayout="row" fxFill>
    <!--Remember to addToBody()-->
    <input #box name="search" type="text" placeholder="{{stuff}}" (keyup.enter)="searchTweet(box.value)">
    <div>
      <!--<img src="/assets/Images/Wow.gif">-->
    </div>
  </div>


  <div *ngIf="displayScore==3" class="item item-2 averageInfo" fxFlexLayout="column" fxFill>
    <div class="rangeDisplay">
      <h2>Sentiment Range</h2>
      <div class="item item-2 rangeblock" fxFlexLayout="row" fxLayoutAlign="center center">
        <div class="item item-3 rangeElemRed">-1 — -0.25</div>
        <div class="item item-3 rangeElemYellow">-0.25 — 0.25</div>
        <div class="item item-3 rangeElemGreen">0.25 — 1.0</div>
      </div>
    </div>
    <div class="scoreAverage" fxLayout="column" fxLayoutAlign="space-between center" >
      <app-score-avg></app-score-avg>
    </div>
  </div>

  <div class="item item-2 tweetblock" fxFlexLayout="row" fxLayoutAlign="start center" *ngFor="let tweet of tweets" id="tweetboxes">
    <div class="item item-3 tweetlogo" fxFlex="75px">
      <img src="/assets/Images/twitter.png">
    </div>
    <div class="item item-3 tweettext" fxFlex="80%">
      <a href="http://twitter.com/{{tweet.name}}"target="_blank">{{tweet.name}}</a>
      <p>{{tweet.text}}</p>
    </div>
    <div [style.background-color]='getColour(tweet.score)' class="item item-3 tweetscore"  fxFlexLayout="column" fxLayoutAlign="center center" >
      <div class="circle"   >
            {{tweet.score | number: '1.1-1'}}
        </div>
    </div>
  </div>

  <div *ngIf="dataLoading">
    <app-loading></app-loading>
  </div>

</div>
